.trackListContainer {
  display: block;
}

.trackButton {
  margin: 0;
  border: none;
  background-color: transparent;
  color: white;
}

.deleteButton {
  border: none;
  color: red;
  background-color: transparent;
}